
<div class="container">
    <div class="row">

      <div class="card-wrapper">
        <div class="card border-0">
          <div class="position-center rounded-circle overflow-hidden mx-auto custom-circle-image">
            <img class="w-100 h-100" src="../assets/solari.png" alt="Card image cap">
          </div>
          <div class="card-body text-center mt-4">
            <h3 class="text-uppercase card-title">Solari Rodolfo</h3>
            <p class="card-text">Estudiante de Tecnicatura Universitaria en Programacion</p>
          </div>
        </div>
      </div>


    </div>
</div>
